:root {
    --white: #f4f4f4;
    --green: #cceabb;
    --flesh: #fdcb9e;
    --black:#3f3f44;
    --main-font: 'Titillium Web', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns:30vw 70vw;
    grid-template-rows: 100vh;
}

.col1 {
    background-color: var(--green);
    font-family: ;
}

.banner-cont {
    background-color: var(--green);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: var(--main-font);
    border-bottom: thin solid gray;
}


.project-cont {
    background-color: var(--green);
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
}



.project-card {
    height: 3em;
    border-bottom: thin solid grey;
    background-color: var(--white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px 5px 20px;
}


.col2 {
    background-color: var(--flesh);
}

.project-header {
    background-color: var(--flesh);
    height: 15vh;
}

h1, h2 {
    margin: 0 auto;
    text-align: center;
}

.todo-list {
    background-color: var(--white);
    height: 85vh;
    padding: 20px 10px 20px 10px;
}

.todo-card {
    height: 3em;
    width: 85%;
    margin: 0 auto;
    border: thin solid grey;
    background-color: var(--white);
    padding: 5px 5px 5px 20px;
    display: grid;
    grid-template-columns: 10% 60% 20% 10%;
    
}

.todo-card > * {
    display: flex;
    align-items: center;

}

.checkbox {
    margin-top: 15px;
    width: 20px;
    height: 20px;
}

.delete-btn {
    border-radius: 10px;
    border: thin solid #808080a8;
    color:white;
    background-color: #ff0000a1;
    height: 25px;
    width: 23px;
    margin: 10px 10px 10px 20px;
}

