:root {
    --white: #f4f9f4;
    --green: #a7d7c5;
    --darkgreen: #74b49b;
    --darkestgreen:#5c8d89;
    --main-font: 'Titillium Web', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns:30vw 70vw;
    font-family: var(--main-font);
    position: fixed;
}

.col1 {
    background-color: var(--green);
    box-shadow: 1px 1px gray;
    height: 100vh;
    display: grid;
    grid-template-rows: 12vh 10vh 80vh;
}

.banner-cont {
    background-color: var(--darkgreen);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: var(--main-font);
    border-bottom: thin solid gray;
    border-right: thin solid gray;
}


.project-cont {
    background-color: var(--darkgreen);
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
    border-right: thin solid gray;
    overflow: auto;
}

.project-btn-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}

.add-btn {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: thin gray;
    margin: 10px;
    font-size: 2em;
}

.add-project {
    background-color: var(--white);
}

.project-card {
    height: 3em;
    border-bottom: thin solid grey;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 20px;
    box-shadow: 0px 0px 4px 1px grey;
}


.selected {
    background-color: var(--darkestgreen);
    color: var(--white)
}


.col2 {
    background-color: var(--white);
    display: grid;
    height: 100vh;
    grid-template-rows: 12vh 10vh 60vh 15vh;
}


.project-header{
    background-color: var(--darkestgreen);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 50px;
    color:white;


}

.add-todo {
    background-color: var(--white);
    float: right;
    margin: 0px 25px 0px -20px;
    color: var(--darkestgreen);
}


.form-field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--darkgreen);
    border-bottom: thin solid grey;
}

.form-field input:first-of-type {
    width: 45%;
    height: 30%;
    background-color: var(--green);
    border: thin var(--darkgreen) solid;
}


h1 {
    margin: 0 auto;
    text-align: center;
}

.todo-list {
    background-color: var(--white);
    padding: 20px 10px 0px 10px;
    overflow: auto;
}

.todo-card, .completed-card{
    height: 2.5em;
    width: 85%;
    margin: 0 auto;
    border-bottom: thin solid #80808069;
    background-color: var(--white);
    padding: 5px 5px 5px 20px;
    display: grid;
    grid-template-columns: 10% 50% 20% 10% 10%;
    
}


.todo-card > * {
    display: flex;
    align-items: center;

}

.completed-card {
    text-decoration: line-through;
    grid-template-columns: 80% 20%;
    color:gray;
}

.completed {
    overflow: auto;
    border-top: var(--darkestgreen) solid 5px;
}

.checkbox {
    margin-top: 15px;
    width: 20px;
    height: 20px;
}

.checked {
    background-color: var(--green);

}


.delete-btn, .delete-project {
    border-radius: 10px;
    border: thin solid #808080a8;
    color:white;
    background-color: #ff0000a1;
    height: 17px;
    width: 21px;
    margin: 14px 10px 10px 20px;
}





